*
{
	margin:0;
	padding:0;
}

body{
	font-family:sans-serif;
}
ul{float:right;
   margin-top:25px;
   margin-top:15px;
}
ul li{display:inline-block;
  
}
a{font-family:sans-serif;
  text-decoration:none;
  padding:20px;
  transsition:0.4s;
  width:85px;
  color:#000;
}

logo{width:600px;
margin:70px
}
.nav-bar{background-image: linear-gradient(to right,#a517ba,#5f1782);
         padding:0 !important;
		 height:500px;
		 font-family:Calibri (Body);
        
		 }
.n img{width:380px;
      margin-left:850px;
	  margin-top:-150px;
	  }
	  .n img:hover{ 
	  filter:drop-shadow(0 0 10px);
	 
	  }

.title{margin-left:150px;
      margin-top:-300px;
	  color:#fff;
}
.title a img{width:80px;
        margin-left:1%;
margin-top:30px;}
 ul li a{color:#fff;}
 .wrapers{
	 margin-top:20px;
 }
 .terms img{width:200px;
       font-family:Calibri (Body);
 }
 .mmm{
	 display:flex;
	 text-align:center;
	 width:auto;
	 justify-content:center;
 }
 .wrapers h2{
         text-align:center;
 }
.ag a{
	color:#fff;
	border:1px solid #fff;
	border-radius:30px;
	background-image:linear-gradient(to bottom left,#401461,#E70BE0);
	 margin-top:-40%; 
	 margin-left:620px;
	padding:10px 14px;
}
.terms{margin:10px;
      margin-bottom:50px;
	  width:300px;
	  font-
}

.wrapers2{
	text-align:center;
	background-color:#cbcdd3;
	width:100%;
	justify-content:center;	
	height:350px;
	}


.mmm2{
	display:flex;
	justify-content:center;
	height:500px;
	}
.terms2{margin:10px;
      margin-bottom:50px;
	  width:300px;
	 
}
.terms3{margin:10px;
      margin-bottom:50px;
	  width:350px;
	  margin-right:380px;
}
.terms2 img{width:300px;
           margin-top:-100px;
}
	.ty h3{text-align:center;
}


	.fb{width:75px;
	   margin-top:110px;
	} 
	.ins{width:75px;}
	.tw{width:75px;}
	.sk{width:75px;}
	.lo{width:75px;}
	.ms{width:75px;}
	.lk{background-color:#cbcdd3;
	  
	  height:300px;
	   text-align:center;
	   
	}
	.dd{margin-top:-130px;}
	.main{display:flex;
	justify-content:center;
	 }
	.foter{background-image:linear-gradient(to right,#a517ba,#5f1782);
	box-shadow:none !important;
	border:none;
	border-radius:none;
	margin-top:-30px;
	color:#fff;
	}
	hr{
	background-color:#fff;
	width:1000px;
	margin-left:350px;
	}
	.foter h4{
	margin-bottom:0;
	padding-bottom:20px;
	text-align:center;
	color:#fff;
}
.ls{
	 display:flex;
	 text-align:center;
	 width:auto;
justify-content:center;}

.sre{margin:10px;
      margin-bottom:50px;
width:300px;
 border-left:3px solid #00FFE4 ;	
}
.sre2{margin:10px;
      margin-bottom:50px;
width:300px;
border-left:3px solid ;

}
.sre2{margin:10px;
      margin-bottom:50px;
width:300px;
border-left:3px solid #D712DA ;}
.sre img{width:100px;
    border-radius:50%;
margin-right:150px;
	height:92px;

}
.sre2 img{width:100px;
    border-radius:50%;
	height:92px;
	margin-right:150px;
}
.sre h4{margin-left:90px;
margin-top:-80px; }
.sre2 h4{margin-left:90px;
        margin-top:-80px;
}
.per{margin-left:110px;} 
 

.sre h4{margin-left:90px;
        margin-top:-80px;
}
hr{posigation:center;
    width:800px;
	margin-left:260px;
}
.anc {background-color:#3498DB;
      madrgin-top:90px;
	  border-radius:30px;
	  padding:5px 9px;
}
.had p{line-height:1.8;}
.foter a{color:#fff;

}
.foter i{ background-image:linear-gradient(to right,#a517ba,#5f1782);
  border:1px solid black;
  border-radius:18px;
  padding:7px 10px;
  
}
.email{
	padding:7px 10px;
	border-radius:20px;
	
}
i:hover{
	 
	transform: translate(-15px);
	border:3
	 transform:3s;
	 background-image:linear-gradient(to bottom left,#FF3EA1,#00FFF7 );
      -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
	 }
	.sre2 img:hover{
		   -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
		
	}
	.anc:hover{	 background-image:linear-gradient(to bottom right,#FF0000  ,#FFE800 );	
	 transform: scale(1);
	 color:#000;
	}
	.sre img:hover{ -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-7 */
  transform: scale(1.3); }
  .lk img:hover{ -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
   text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#00FFCD;
   border-radius:40px;
   transform: translatey(-15px);
   
  }

.terms:hover{background-color:#fff;
     box-shadow: 0 4px 8px 0 rgba(248, 14, 255 ), 0 6px 20px 0 rgba(168, 14, 255 );
}
.ag:hover{ -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); }
  audio{margin-left:550px;}
  .a2{margin-left:600px;
     top:50%;
	 left:50%;
	 transform:translate(-50%,-50%);
	 text-align:center;
	 width:250px;
	 padding:20px;
	 font-size:24px;
	 text-transform:uppercase;
	 box-sizing:border-box;
	 background:linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	 background-size:400%;
	 border-radius:30px;
	 
  }
  .a2:hover{
	  
	  animation:animate 11s linear infinite; 
	 
  transform:trsnslate(-10%,-90%);   }
  @keyframes animate{
	  0%{
		  background-position:0%;
	  }
	  100%{
		  background-position:400%;
	  }
	
  }
 li{border-left:2px solid red;
    border-up:2px solid red;
 
     
 }
 .sre:hover{background-color:#fff;
     height:240px;
	 box-shadow:0 4px 8px 0 rgba(255, 0, 166 ), 0 6px 20px 0 rgba(247, 255, 0 
);
 }
 .ty{background-color:#fff;
    height:370px;
	
 }